form {
  padding: 15px 10px;
  border-radius: 5px;
  margin: 20px 0;
  position: relative;
}

#light form,
#light form input {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}

#dark form,
#dark form input {
  background-color: var(--very-dark-desaturated-blue);
  color: var(--very-light-gray);
}

form input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.error {
  color: red;
  position: absolute;
  left: 10px;
  bottom: -35px;
  font-size: 20px;
}
