.todo {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  cursor: move;
}

#light .todo {
  border-bottom: 1px solid var(--very-dark-grayish-blue);
}

#dark .todo {
  border-bottom: 1px solid var(--light-grayish-blue-dark-2);
}

.todo-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

#light .todo-info p {
  color: var(--very-dark-grayish-blue);
}
#dark .todo-info p {
  color: var(--light-grayish-blue-dark-2);
}

.check-todo {
  width: 18px;
  height: 18px;
  border: 2px solid var(--dark-grayish-blue);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px 3px 0;
}

@media screen and (min-width: 375px) {
  .todo img {
    display: none;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .todo:hover img {
    display: block;
  }
}

.todo.completed p {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}

#dark .todo.completed p {
  color: var(--very-dark-grayish-blue-dark-1);
}

.todo.completed .check-todo {
  background: url('../../images/icon-check.svg'), var(--check-background);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--check-background);
}

.todo .action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.todo .action img.edit-icon {
  margin-right: 50px;
  color: white;
}
