header {
  background: url('./images/bg-mobile-light.jpg') no-repeat center;
  background-size: cover;
  height: 35vh;
  padding: 30px 0;
}

.container,
.todo-list {
  width: 95%;
  margin: auto;
}

header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 375px) {
  header {
    background: url('./images/bg-desktop-light.jpg') no-repeat center;
  }

  .container,
  .todo-list {
    width: 80%;
  }
}

@media screen and (min-width: 991px) {
  .container,
  .todo-list {
    width: 60%;
  }
}

header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header h1 {
  color: white;
  letter-spacing: 10px;
}

.todo-list {
  margin: auto;
  background-color: var(--very-light-gray);
  margin-top: -30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  border-radius: 5px;
  position: relative;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.filter .onglet {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 13px 0;
  border-radius: 5px;
  bottom: -60px;
  text-align: center;
  width: 95%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 550px) {
  .filter .onglet {
    position: static;
    width: 50%;
    padding: 0;
    box-shadow: none;
  }
}

.clear-completed {
  cursor: pointer;
}

.filter .onglet p {
  cursor: pointer;
}

.filter .onglet p.active {
  color: var(--bright-blue);
}

.drag-drop-info {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

.no-task {
  color: red;
  font-size: 25px;

  display: flex;
  justify-content: center;
  padding: 20px 0;
}
