header {
  background: url('./images/bg-mobile-light.jpg') no-repeat center;
  background-size: cover;
  height: 35vh;
  padding: 30px 8% 0 8%;
}

header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 375px) {
  header {
    background: url('./images/bg-desktop-light.jpg') no-repeat center;
    padding: 30px 20% 0 20%;
  }
}

@media screen and (min-width: 991px) {
  header {
    padding: 30px 30% 0 30%;
  }
}

header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header h1 {
  color: white;
  letter-spacing: 10px;
}
