header {
  background: url('./images/bg-mobile-light.jpg') no-repeat center;
  background-size: cover;
  height: 35vh;
  padding: 30px 0;
}

.container,
.todo-list {
  width: 95%;
  margin: auto;
}

header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 375px) {
  header {
    background: url('./images/bg-desktop-light.jpg') no-repeat center;
  }

  .container,
  .todo-list {
    width: 80%;
  }
}

@media screen and (min-width: 991px) {
  .container,
  .todo-list {
    width: 60%;
  }
}

header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header h1 {
  color: white;
  letter-spacing: 10px;
}

.todo-list {
  margin: auto;
  background-color: var(--very-light-gray);
  margin-top: -30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  border-radius: 5px;
}
